
@{
    Layout = null;
}
<!doctype html>
<html class="fixed">
<head>

    <!-- Basic -->
    <meta charset="UTF-8">
    <title>Ethlon Consultancy | Forgot Password</title>
    <meta name="keywords" content="Ethlon Consultancy" />
    <meta name="description" content="Ethlon Consultancy">
    <meta name="author" content="">
    <link href="~/Admin/assets/images/ethlon-08.png" rel="icon">
    <link href="~/Admin/assets/images/ethlon-08.png" rel="apple-touch-icon">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <!-- Web Fonts  -->
    @*<link href="/Admin/http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Shadows+Into+Light" rel="stylesheet" type="text/css">*@

    <!-- Vendor CSS -->
    <link rel="stylesheet" href="/Admin/assets/vendor/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="/Admin/assets/vendor/font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="/Admin/assets/vendor/magnific-popup/magnific-popup.css" />
    <link rel="stylesheet" href="/Admin/assets/vendor/bootstrap-datepicker/css/datepicker3.css" />

    <!-- Theme CSS -->
    <link rel="stylesheet" href="/Admin/assets/stylesheets/theme.css" />

    <!-- Skin CSS -->
    <link rel="stylesheet" href="/Admin/assets/stylesheets/skins/default.css" />

    <!-- Theme Custom CSS -->
    <link rel="stylesheet" href="/Admin/assets/stylesheets/theme-custom.css">
    <link href="~/Content/toastr.min.css" rel="stylesheet" />
    <!-- Head Libs -->
    <script src="/Admin/assets/vendor/modernizr/modernizr.js"></script>
    <style>
        .body-sign .panel-sign .panel-title-sign .title {
            background-color: #f67d48;
        }

        .body-sign .panel-sign .panel-body {
            border-top-color: #f67d48;
        }

        .btnsubmit {
            background-color: #f67d48;
            color: white;
        }


        body {
            background-image: url(/Admin/assets/images/Consulting.jpg);
            background-size: cover;
            overflow: hidden;
        }
    </style>
</head>
<body>
    <!-- start: page -->
    <section class="body-sign">
        <div class="center-sign">
            <a href="@Url.Action("Landing","Home")" class="logo pull-left">
                <img src="~/Admin/assets/images/ethlon-08.png" height="70" alt="Ethlon Consultancy" />
            </a>

            <div class="panel panel-sign">
                <div class="panel-title-sign mt-xl text-right">
                    <h2 class="title text-uppercase text-bold m-none"><i class="fa fa-user mr-xs"></i>Forgot Password</h2>
                </div>
                <div class="panel-body">

                    @using (Html.BeginForm())
                    {
                        <div class="form-group mb-lg">

                            <div class="input-group input-group-icon">

                            </div>
                        </div>
                        <div class="form-group mb-lg">
                            <label>Email</label>
                            <div class="input-group input-group-icon">
                                <input name="email" type="email" class="form-control input-lg" placeholder="Enter your email" required />
                                <span class="input-group-addon">
                                    <span class="icon icon-lg">
                                        <i class="fa fa-user"></i>
                                    </span>
                                </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                            </div>
                            <div class="col-sm-4 col-md-4 text-right">
                                <button type="submit" class="btn btnsubmit">Request</button>
                            </div>
                        </div>
                    }
                </div>
            </div>


        </div>
    </section>
    <!-- end: page -->
    <!-- Vendor -->
    <script src="/Admin/assets/vendor/jquery/jquery.js"></script>
    <script src="/Admin/assets/vendor/jquery-browser-mobile/jquery.browser.mobile.js"></script>
    <script src="/Admin/assets/vendor/bootstrap/js/bootstrap.js"></script>
    <script src="/Admin/assets/vendor/nanoscroller/nanoscroller.js"></script>
    <script src="/Admin/assets/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script src="/Admin/assets/vendor/magnific-popup/magnific-popup.js"></script>
    <script src="/Admin/assets/vendor/jquery-placeholder/jquery.placeholder.js"></script>

    <!-- Theme Base, Components and Settings -->
    <script src="/Admin/assets/javascripts/theme.js"></script>

    <!-- Theme Custom -->
    <script src="/Admin/assets/javascripts/theme.custom.js"></script>

    <!-- Theme Initialization Files -->
    <script src="/Admin/assets/javascripts/theme.init.js"></script>
    <script src="~/scripts/toastr.min.js"></script>
    <script>
         $(function () {
            var a = '@TempData["errormesage"]';
            if (a != '')
                toastr.error("", a);
            //alert("ab" + a)
            window.location = '#2249506';
        })

         $(function () {
            var a = '@TempData["successmesage"]';
            if (a != '')
                toastr.success("", a);
            //alert("ab" + a)
            window.location = '#2249506';
        })
    </script>
</body>
</html>



